@media screen and (max-width: 764px){

  .menu{
    flex-flow: column-reverse;
    justify-content: space-around;
       align-items: stretch;
  }
  .logo{
    margin-top: -100px;
  }
  .hebergement{
    margin-left: -145px;
    margin-top: -70px;
  }
  .inscrire{
    margin-top: -20px;
  }
  .trait-dessus{
    margin-bottom: -20px;
    margin-left: -340px;
  }
  .activite{
    margin-top: -70px;
    margin-left: 20px;
    
  }
  .filters-container {
    
    display: flex;
    flex-flow: row wrap;

  }
 .trouver{
  white-space:pre-line;
 }
  .loge{
    white-space:pre-line;
  }
}
   
   
   
  
  
  
