body {

	font-family: Raleway;
	}
	
  /* contenaire en-tête */
	
	.tete {
	display: grid;
	grid-template-columns: 2fr 2fr 2fr 1fr;
	grid-template-rows: auto;
	grid-auto-rows: auto;
	padding-top: 0px;
	margin: 0 3em;
	}
	/*  Logo */
	.logo {
	grid-row: 1;
	grid-column: 1;
	display: flex;
	align-items: center;
	padding: 2em 0;
	}
	/* Menu */
	.menu {
	  grid-row: 1;
	  grid-column: 3;
	  display: flex;
	  justify-content: space-around;
	  align-items: center;
	}
	a {
	  text-decoration: none;
	}
	
	.menu-item {
	  display: flex;
	  align-items: center;
	  height: 100%;
	  border-top: 2px solid transparent;
	  padding: 0 10px;
	
	}
  
	.menu-item a {
	  color: #000;
	}
  
	.menu-item:hover {
	  border-top: 2px solid #0065fc;
  
	}
  
	.menu-item:hover a {
	  color: #0065fc;
	
	}
	.inscrire {
	  display: flex;
	  align-items: center;
	  justify-content: center;
	  grid-row: 1;
	  grid-column: 4;
	  color: #0065fc;
	  font-weight: bolder;
	}
	
	/* Recherche */
	.text-search {
	grid-row: 2;
	grid-column: 1 / span 2;
	}
	.search {
	grid-row: 2;
	grid-column: 1 span 2;
	display: flex;
	align-items: flex-start;
	margin-left: -1;
	}
	
	input::placeholder {
	font-family:raleway;
	font-weight: bolder;
	color: #000;
	opacity: 1;
	}
	.icon-search {
	height: 30px;
	width: 35px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #f2f2f2;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	}
	.btn1 {
	border: 2px solid #f2f2f2;
	height: 30px;
	width: 150px;
	}
   
	
	.btn-search {
	border: 2px solid #f2f2f2;
	height: 30px;
	width: 100px;
	color: #fff;
	font-family: raleway;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	background: #0065fc;
	display: flex;
	align-items: center;
	justify-content: center;
	}
  
	.btn-loupe {
	  display: none;
	}
	/*  titre Filtres */
	
	.filtre{
	grid-row: 3;
	grid-column: 1;
	font-size: 13;
	
	/*  contenaire des filtres  */
	}
	.filters-container {
	grid-row: 3;
	grid-column: 1 / span 2;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 50px;
	padding: 10px;
	
	}
	/*   cadre du texte filtres */
	
	.filter {
	display: flex;
	align-items: center;
	border: 2px solid #f2f2f2;
	border-radius: 18px;
	height: 32px;
	border-left: none;
	padding-right: 10px;
	}
	  /* texte du filtres */
	.filter a {
	padding: 5px;
	font-size: 13px;
	white-space: nowrap;
	text-decoration: none;
	font-weight: bolder;
	color: #000;
	}
	/* Changement d'apparence au passage de souris */
	.filter:hover{
	 background-color:#0065fc; 
	}
	.filter a:hover{
	color: #fff;
	}
	
	
	/*  Icones des filtres */
	
	.icon-container {
	height: 37px;
	width: 37px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #deebff;
	border-radius: 18.5px;
	margin-left: -10px;
	margin-right: 5px;
	
	}
	
	/* texte bas de l'entete */
	.ville {
	grid-row: 4;
	grid-column: 1 / span 2;
	display: flex;
	align-items: center;
	
	
	}
  
  .loge {
	font-size: 13px;
  }
  
	 /* ----------   Main ------------ ---------*/
	
	
  
  
  
  
  
	
	/* --------SECTION ----------*/
	
  
  
	/* --------- Pied de Page  ------------- */
	
	footer {
  
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	background-color: #f2f2f2;
	}
	.liste {
	list-style-type: none;
	margin-left: -40px;
	}
	
	.propos {
	display: flex;
	justify-content: left;
	align-items: center;
	}
	
	.qualite {
	display: flex;
	align-items: center;
	}
	.assistance {
	display: flex;
	align-items: center;
	}
	